/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}*/

.card-ofert{
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 650px;
  max-height: 550px;
  background: #fff;
  border-radius: 12px;
  justify-content: space-between;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  position: relative;
}
.card-ofert::before{
  content: '';

  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  clip-path: circle(40% at right 35%);
  background-image: linear-gradient( 135deg,  #74E0ED 10%, #18626B 100%);
}
.card-ofert .box.one{
  padding: 20px 5px 0px 20px;
}
.box.one .details .topic{
  font-size: 25px;
  font-weight: 500;
}
.box.one .details p{
  margin-right: 20px;
  text-align: justify;
  color: #737373;
  font-size: 12px;
  font-weight: bold;

}
.box.one .rating{
  color: #74E0ED;
  font-size: 14px;
  margin-top: 10px;
}
.box.one .price-box{
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.box.one .discount{
  font-size: 20px;
  margin: 10px 0 0 12px;
  position: relative;
  color: #737373;
}
.box.one .discount:before{
  content: '';
  position: absolute;
  height: 1px;
  width: 100px;
  background: #737373;
  top: 20%;
  left: -8px;
}
.box.one .price{
  text-transform: uppercase;
  margin-right: 15px;
  color: #18626B;
  font-size: 20px;

  font-weight:bold;
}
.box.one .button1{
  margin-top: 10px;
}
.box.one .button1 button{

  outline: none;
  border:none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #00e6e6;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button1 button:hover{
  transform: scale(0.98);
}
.card-ofert .box.two .image{
  position: relative;
  right: 0
  top: 0;
  height: 100%;
  width: 100%;
}
.image img{
  height: 60%;
  width: 60%;
  object-fit: cover;
}
.card-ofert .box.two .image-box{
  position: relative;
  text-align: right;
  right: 0;
  bottom: 27px;
}
.box.two .info{
  margin: 0 35px 0 0;
}
.box.two .info .brand{
 font-size: 20px;
 text-align: center;
 font-weight: 600;
 color: #1E1C1B;
}
.box.two .info .name{
  text-align: center;
 font-size: 20px;
 font-weight: 500;
 color: #fff;
}
.box.two .info .shipping{
 font-size: 14px;
 font-weight: 400;
 color: #000;
}
.box.two .button2{
  margin: 17px 0;
}
.button2 button{
  outline: none;
  margin-top: 5px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 8px 5px;
  background: transparent;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
